<h2>Details about <%= movie.title %></h2>

<ul id="details">
  <li>Rating: <%= movie.rating %></li>
  <li>Released on: <%= movie.release_date %></li>
</ul>

<h3>Description</h3>

<p class="description"><%= movie.description %></p>
